<div class="well research_form">

    <h3>Formulaire de recherche d'annonce</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="OK" />
    {{ form_end(form) }}

</div>